apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
  annotations:
    service.alpha.openshift.io/serving-cert-secret-name: namespace-configuration-operator-certs
  name: controller-manager-metrics
  namespace: system
spec:
  ports:
  - name: https
    port: 8443
    targetPort: https
  selector:
    control-plane: controller-manager
