# Adds namespace to all resources.
namespace: release-namespace

# Value of this field is prepended to the
# names of all resources, e.g. a deployment named
# "wordpress" becomes "alices-wordpress".
# Note that it should also match with the prefix (text before '-') of the namespace
# field above.
namePrefix: namespace-configuration-operator-

# Labels to add to all resources and selectors.
#commonLabels:
#  someName: someValue

bases:
- ../rbac
- ../prometheus

vars:
- name: METRICS_SERVICE_NAME
  objref:
    kind: Service
    version: v1
    name: controller-manager-metrics
- name: METRICS_SERVICE_NAMESPACE
  objref:
    kind: Service
    version: v1
    name: controller-manager-metrics
  fieldref:
    fieldpath: metadata.namespace
